@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar > a {
  margin: 0 auto;
}

.navbar-container {
  box-shadow: 0px 9px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar {
  height: 150px;
  text-align: center;
}

#navLink {
  color: orange;
}

#navLink:hover {
  text-decoration: underline;
  color: rgb(233, 231, 231);
}

/* Main-container */

.main-container {
  background: linear-gradient(orange, #343a40);
  height: 1200px;
}

/* NewUserForm */

.NewUserForm-container {
  display: flex;
  justify-content: center;
}

form {
  width: 280px;
  background-color: #343a40;
  margin-top: 6rem;
  border-radius: 10px;
}

label {
  color: orange;
  margin: 1rem 0rem 0.5rem 0.2rem;
}

.formBtn {
  margin: 1.5rem 0 1.5rem 4.3rem;
}

/* UserList */

.UserList-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-body {
  text-align: center;
  color: white;
}

.card-body > h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-body > a {
  margin: 1rem 0.5rem 0.5rem;
}

#cardUsersList {
  margin: 2rem 0.2rem 0 0.2rem;
  border-radius: 10px;
}

.BtnEdit {
  margin: 1rem;
}

/* .filteredBtn {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.filteredBtn button {
  margin: 0 1rem 0 1rem;
} */

/* Footer */

.footer-container {
  height: 150px;
  background-color: #343a40;
  color: orange;
  text-align: center;
  padding-top: 6.5rem;
}

/* Responsive */

@media only screen and (min-width: 992px) {
  .navbar-nav {
    gap: 3rem;
    margin-right: 4rem;
  }
}
